In [6]:
import numpy as np
import pandas as pd
import sqlalchemy

!pip install pymysql

student_conn_string = "mysql+pymysql://student:p7%40vw7MCatmnKjy7@data.engeto.com/data"
engeto_data_conn = sqlalchemy.create_engine(student_conn_string)
edinburgh_bikes_df = pd.read_sql("select * from edinburgh_bikes", engeto_data_conn)
edinburgh_bikes.head()

Requirement already satisfied: pymysql in c:\users\zera\anaconda3\lib\site-packages (1.0.2)

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
0,0,2018-09-15 08:52:05,2018-09-15 09:11:48,1182,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,259,St Andrew Square,North East corner,55.954728,-3.192653
1,1,2018-09-15 09:24:33,2018-09-15 09:41:09,995,259,St Andrew Square,North East corner,55.954749,-3.192774,262,Canonmills,near Tesco's,55.962804,-3.196284
2,2,2018-09-15 09:48:54,2018-09-15 10:46:40,3466,262,Canonmills,near Tesco's,55.962804,-3.196284,250,Victoria Quay,Entrance to Scottish Government Office,55.977638,-3.174116
3,3,2018-09-16 12:01:36,2018-09-16 12:25:26,1430,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,254,Kings Building 3,Kings Building House,55.923479,-3.175385
4,4,2018-09-16 12:03:43,2018-09-16 12:11:16,452,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,253,Kings Building 2,Sanderson Building,55.923202,-3.171646

In [8]:
edinburgh_bikes_df.head()

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
0,0,2018-09-15 08:52:05,2018-09-15 09:11:48,1182,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,259,St Andrew Square,North East corner,55.954728,-3.192653
1,1,2018-09-15 09:24:33,2018-09-15 09:41:09,995,259,St Andrew Square,North East corner,55.954749,-3.192774,262,Canonmills,near Tesco's,55.962804,-3.196284
2,2,2018-09-15 09:48:54,2018-09-15 10:46:40,3466,262,Canonmills,near Tesco's,55.962804,-3.196284,250,Victoria Quay,Entrance to Scottish Government Office,55.977638,-3.174116
3,3,2018-09-16 12:01:36,2018-09-16 12:25:26,1430,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,254,Kings Building 3,Kings Building House,55.923479,-3.175385
4,4,2018-09-16 12:03:43,2018-09-16 12:11:16,452,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,253,Kings Building 2,Sanderson Building,55.923202,-3.171646

In [9]:
#Výpis stanic podle příjezdů
ID_start_df = edinburgh_bikes_df[['start_station_id', 'start_station_name', 'start_station_latitude', 'start_station_longitude']].rename(columns={'start_station_name':'station_name','start_station_id':'station_id','start_station_latitude':'station_latitude','start_station_longitude':'station_longitude'}).drop_duplicates(subset='station_id')
ID_start_df

,station_id,station_name,station_latitude,station_longitude
0,247,Charlotte Square,55.952335,-3.207101
1,259,St Andrew Square,55.954749,-3.192774
2,262,Canonmills,55.962804,-3.196284
3,255,Kings Buildings 4,55.922001,-3.176902
5,253,Kings Building 2,55.923202,-3.171646
...,...,...,...,...
175312,1860,Ingliston Park & Ride,55.938792,-3.355556
308091,2259,Leith Walk North,55.967918,-3.173586
322639,2263,Musselburgh Lidl,55.943880,-3.066754
328547,2265,Musselburgh Brunton Hall,55.944009,-3.058493
338918,2268,Picady Place,55.956535,-3.186248

In [10]:
#Výpis stanic podle odjezdů
ID_end_df = edinburgh_bikes_df[['end_station_id', 'end_station_name','end_station_latitude','end_station_longitude']].rename(columns={'end_station_name':'station_name','end_station_id':'station_id','end_station_latitude':'station_latitude','end_station_longitude':'station_longitude'}).drop_duplicates(subset='station_id')
ID_end_df

,station_id,station_name,station_latitude,station_longitude
0,259,St Andrew Square,55.954728,-3.192653
1,262,Canonmills,55.962804,-3.196284
2,250,Victoria Quay,55.977638,-3.174116
3,254,Kings Building 3,55.923479,-3.175385
4,253,Kings Building 2,55.923202,-3.171646
...,...,...,...,...
170340,1859,Edinburgh Park Central,55.931169,-3.314414
308367,2259,Leith Walk North,55.967918,-3.173586
322492,2263,Musselburgh Lidl,55.943880,-3.066754
328547,2265,Musselburgh Brunton Hall,55.944009,-3.058493
338871,2268,Picady Place,55.956535,-3.186248

In [11]:
#Celkový výpis stanic, jejich polohy, ID a jména
station_list_df=ID_end_df.merge(ID_start_df, how='outer').drop_duplicates(subset='station_id').sort_values('station_id', ascending=True).set_index('station_id')
station_list_df['key']=1
station_list_df

                        station_name  station_latitude  station_longitude  key
station_id
171                    George Square         55.943084          -3.188311    1
183                  Waverley Bridge         55.951344          -3.191421    1
189                    City Chambers         55.950109          -3.190258    1
225                   Waverley Court         55.951734          -3.184179    1
241                            Depot         55.972373          -3.155833    1
...                              ...               ...                ...  ...
1877               Port Edgar Marina         55.992957          -3.407156    1
2259                Leith Walk North         55.967918          -3.173586    1
2263                Musselburgh Lidl         55.943880          -3.066754    1
2265        Musselburgh Brunton Hall         55.944009          -3.058493    1
2268                    Picady Place         55.956535          -3.186248    1

[200 rows x 4 columns]

In [12]:
#Vytvoření cross joinu stanic
cross_product_station_list_df=station_list_df.merge(station_list_df, on='key').drop('key',1)
cross_product_station_list_df

C:\Users\zera\AppData\Local\Temp/ipykernel_788/187847818.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  cross_product_station_list_df=station_list_df.merge(station_list_df, on='key').drop('key',1)

,station_name_x,station_latitude_x,station_longitude_x,station_name_y,station_latitude_y,station_longitude_y
0,George Square,55.943084,-3.188311,George Square,55.943084,-3.188311
1,George Square,55.943084,-3.188311,Waverley Bridge,55.951344,-3.191421
2,George Square,55.943084,-3.188311,City Chambers,55.950109,-3.190258
3,George Square,55.943084,-3.188311,Waverley Court,55.951734,-3.184179
4,George Square,55.943084,-3.188311,Depot,55.972373,-3.155833
...,...,...,...,...,...,...
39995,Picady Place,55.956535,-3.186248,Port Edgar Marina,55.992957,-3.407156
39996,Picady Place,55.956535,-3.186248,Leith Walk North,55.967918,-3.173586
39997,Picady Place,55.956535,-3.186248,Musselburgh Lidl,55.943880,-3.066754
39998,Picady Place,55.956535,-3.186248,Musselburgh Brunton Hall,55.944009,-3.058493
39999,Picady Place,55.956535,-3.186248,Picady Place,55.956535,-3.186248

In [13]:
# Definice funkce, která vypočítá vzdálenost dvou bodů na Zemi
from math import radians, cos, sin, asin, sqrt
def distance(x):
  # Převod úhlových zeměpisných souřadnic na radiány
  x['station_latitude_x1'] = radians(x['station_latitude_x'])
  x['station_longitude_x1'] = radians(x['station_longitude_x'])
  x['station_latitude_y1'] = radians(x['station_latitude_y'])
  x['station_longitude_y1']= radians(x['station_longitude_y'])
  # Haversine formula
  x['dlon'] = x['station_longitude_y1'] - x['station_longitude_x1']
  x['dlat'] = x['station_latitude_y1'] - x['station_latitude_x1']
  x['a'] = sin(x['dlat'] / 2)**2 + cos(x['station_latitude_x1']) * cos(x['station_latitude_y1']) * sin(x['dlon'] / 2)**2
  x['c'] = 2 * asin(sqrt(x['a']))  
  # Poloměr Země
  r = 6371     
  # výpočet výsledku
  return(x['c'] * r)
# použití funkce na výpočet vzájemné vzdálenosti Edinburhských stanic
cross_product_station_list_df['station_distance_km']=round(cross_product_station_list_df.apply(distance, axis=1),3)
cross_product_station_list_df=cross_product_station_list_df.drop(cross_product_station_list_df[cross_product_station_list_df['station_distance_km']==0].index)
cross_product_station_list_df

,station_name_x,station_latitude_x,station_longitude_x,station_name_y,station_latitude_y,station_longitude_y,station_distance_km
1,George Square,55.943084,-3.188311,Waverley Bridge,55.951344,-3.191421,0.939
2,George Square,55.943084,-3.188311,City Chambers,55.950109,-3.190258,0.791
3,George Square,55.943084,-3.188311,Waverley Court,55.951734,-3.184179,0.996
4,George Square,55.943084,-3.188311,Depot,55.972373,-3.155833,3.833
5,George Square,55.943084,-3.188311,Virtual Depot,55.972402,-3.155794,3.837
...,...,...,...,...,...,...,...
39994,Picady Place,55.956535,-3.186248,Tesco Ferrymuir,55.983766,-3.401352,13.724
39995,Picady Place,55.956535,-3.186248,Port Edgar Marina,55.992957,-3.407156,14.329
39996,Picady Place,55.956535,-3.186248,Leith Walk North,55.967918,-3.173586,1.491
39997,Picady Place,55.956535,-3.186248,Musselburgh Lidl,55.943880,-3.066754,7.572
39998,Picady Place,55.956535,-3.186248,Musselburgh Brunton Hall,55.944009,-3.058493,8.075

In [14]:
#Počet kol, která z jednotlivých stanic odjela
count_start_station=edinburgh_bikes_df[['start_station_id','start_station_name']].assign(cnt=1).groupby('start_station_id').sum().sort_values(['cnt'],ascending=True).reset_index()
count_start_station=count_start_station.rename(columns={'start_station_id':'station_id'}).set_index('station_id')
count_start_station

              cnt
station_id
1857            1
1740            1
241             2
1057            2
299             3
...           ...
1024        11373
1728        11843
259         12218
248         12846
265         17390

[198 rows x 1 columns]

In [15]:
#Počet kol, která na jednotlivé stanice dojela.
count_end_station=edinburgh_bikes_df[['end_station_id','end_station_name']].assign(cnt=1).groupby('end_station_id').sum().sort_values(['cnt'],ascending=True).reset_index()
count_end_station=count_end_station.rename(columns={'end_station_id':'station_id'}).set_index('station_id')
count_end_station

              cnt
station_id
1740            2
242             2
241             3
280             3
1032            5
...           ...
1824        11264
262         11940
265         15225
250         15254
1728        16656

[199 rows x 1 columns]

In [16]:
#20 stanic, kde kola nejvíce přebývají a počet přebývajících kol
bikes_accumulating_df=count_end_station-count_start_station
bikes_accumulating_df.sort_values(['cnt'],ascending=False).head(20).join(station_list_df['station_name']).rename(columns={'cnt':'more_bikes'})

            more_bikes                    station_name
station_id
1728            4813.0         Portobello - Kings Road
250             4592.0                   Victoria Quay
1824            3976.0                     Duke Street
358             3088.0                      Leith Walk
262             2389.0                      Canonmills
258             1993.0                     Stockbridge
285             1876.0                  Ocean Terminal
1722            1269.0               Cramond Foreshore
257             1241.0                      Portobello
1818            1130.0                   Dynamic Earth
366             1086.0  Newhaven Road / Dudley Gardens
1038             974.0              South Trinity Road
1763             933.0                Comely Bank Road
820              894.0                     Newkirkgate
1026             844.0             Constitution Street
1800             812.0                           Joppa
355              684.0                  Inverleith Row
1095             683.0                  Dudley Gardens
1757             681.0                      Meggetland
1720             603.0                   Dundas Street

In [17]:
#20 stanic, kde kola nejvíce chybí a počet chybějících kol
bikes_missing_df=count_start_station-count_end_station
bikes_missing_df.sort_values(['cnt'],ascending=False).head(20).join(station_list_df['station_name']).rename(columns={'cnt':'bikes_missing'})

            bikes_missing        station_name
station_id
248                4948.0       Bristo Square
259                3846.0    St Andrew Square
247                3154.0    Charlotte Square
189                3113.0       City Chambers
264                2813.0       Pollock Halls
1767               2629.0   Bruntsfield Links
1024               2581.0      Meadow Place 2
260                2544.0     Lauriston Place
265                2165.0        Meadows East
289                1525.0       Castle Street
1039               1522.0        Lothian Road
256                1293.0    St Andrews House
1096               1180.0  West Crosscauseway
249                1149.0      Fountainbridge
296                1054.0      Castle Terrace
290                1049.0         Bruntsfield
1052                976.0       Surgeons Hall
1798                902.0     Chambers Street
1050                881.0                EICC
1098                806.0  Marchmont Crescent

In [20]:
#Průměrná délka jedné výpůjčky
round(edinburgh_bikes_df['duration'].mean(),1)

1948.8

In [21]:
#Odstranění odlehlých hodnot a histogram výpůjček
from scipy import stats
filtred_rent_times_df=edinburgh_bikes_df['duration'][(np.abs(stats.zscore(edinburgh_bikes_df['duration'])) < 3)]
filtred_rent_times_df

0         1182
1          995
2         3466
3         1430
4          452
          ...
438254    2139
438255    1763
438256    1342
438257    1369
438258     522
Name: duration, Length: 437296, dtype: int64