<a href="https://colab.research.google.com/github/radekzeman90/pandas_project/blob/main/Python_projekt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

In [182]:
import numpy as np
import pandas as pd
import sqlalchemy

!pip install pymysql

student_conn_string = "mysql+pymysql://student:p7%40vw7MCatmnKjy7@data.engeto.com/data"
engeto_data_conn = sqlalchemy.create_engine(student_conn_string)
edinburgh_bikes_df = pd.read_sql("select * from edinburgh_bikes", engeto_data_conn)

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [183]:
edinburgh_bikes_df

        index           started_at  ... end_station_latitude  end_station_longitude
0           0  2018-09-15 08:52:05  ...            55.954728              -3.192653
1           1  2018-09-15 09:24:33  ...            55.962804              -3.196284
2           2  2018-09-15 09:48:54  ...            55.977638              -3.174116
3           3  2018-09-16 12:01:36  ...            55.923479              -3.175385
4           4  2018-09-16 12:03:43  ...            55.923202              -3.171646
...       ...                  ...  ...                  ...                    ...
438254  12636  2021-06-30 23:30:31  ...            55.957915              -3.118332
438255  12637  2021-06-30 23:36:16  ...            55.957915              -3.118332
438256  12638  2021-06-30 23:49:03  ...            55.949560              -3.180413
438257  12639  2021-06-30 23:49:03  ...            55.949560              -3.180413
438258  12640  2021-06-30 23:58:33  ...            55.960852              -3.180986

[438259 rows x 14 columns]

Výpis stanic podle příjezdů

In [184]:
ID_start_df = edinburgh_bikes_df[['start_station_id', 'start_station_name', 'start_station_latitude', 'start_station_longitude']].rename(columns={'start_station_name':'station_name','start_station_id':'station_id','start_station_latitude':'station_latitude','start_station_longitude':'station_longitude'}).drop_duplicates(subset='station_id')
ID_start_df

        station_id  ... station_longitude
0              247  ...         -3.207101
1              259  ...         -3.192774
2              262  ...         -3.196284
3              255  ...         -3.176902
5              253  ...         -3.171646
...            ...  ...               ...
175312        1860  ...         -3.355556
308091        2259  ...         -3.173586
322639        2263  ...         -3.066754
328547        2265  ...         -3.058493
338918        2268  ...         -3.186248

[198 rows x 4 columns]

Výpis stanic podle odjezdů

In [185]:
ID_end_df = edinburgh_bikes_df[['end_station_id', 'end_station_name','end_station_latitude','end_station_longitude']].rename(columns={'end_station_name':'station_name','end_station_id':'station_id','end_station_latitude':'station_latitude','end_station_longitude':'station_longitude'}).drop_duplicates(subset='station_id')
ID_end_df

        station_id  ... station_longitude
0              259  ...         -3.192653
1              262  ...         -3.196284
2              250  ...         -3.174116
3              254  ...         -3.175385
4              253  ...         -3.171646
...            ...  ...               ...
170340        1859  ...         -3.314414
308367        2259  ...         -3.173586
322492        2263  ...         -3.066754
328547        2265  ...         -3.058493
338871        2268  ...         -3.186248

[199 rows x 4 columns]

Celkový výpis stanic, jejich polohy, ID a jména

In [186]:
station_list_df=ID_end_df.merge(ID_start_df, how='outer').drop_duplicates(subset='station_id').sort_values('station_id', ascending=True).set_index('station_id')
station_list_df['key']=1
station_list_df

                        station_name  station_latitude  station_longitude  key
station_id
171                    George Square         55.943084          -3.188311    1
183                  Waverley Bridge         55.951344          -3.191421    1
189                    City Chambers         55.950109          -3.190258    1
225                   Waverley Court         55.951734          -3.184179    1
241                            Depot         55.972373          -3.155833    1
...                              ...               ...                ...  ...
1877               Port Edgar Marina         55.992957          -3.407156    1
2259                Leith Walk North         55.967918          -3.173586    1
2263                Musselburgh Lidl         55.943880          -3.066754    1
2265        Musselburgh Brunton Hall         55.944009          -3.058493    1
2268                    Picady Place         55.956535          -3.186248    1

[200 rows x 4 columns]

Vytvoření cross joinu stanic

In [187]:
cross_product_station_list_df=station_list_df.merge(station_list_df, on='key').drop('key',1)
cross_product_station_list_df

      station_name_x  ...  station_longitude_y
0      George Square  ...            -3.188311
1      George Square  ...            -3.191421
2      George Square  ...            -3.190258
3      George Square  ...            -3.184179
4      George Square  ...            -3.155833
...              ...  ...                  ...
39995   Picady Place  ...            -3.407156
39996   Picady Place  ...            -3.173586
39997   Picady Place  ...            -3.066754
39998   Picady Place  ...            -3.058493
39999   Picady Place  ...            -3.186248

[40000 rows x 6 columns]

Definice funkce pro určení vzdálenosti 2 bodů na Zemi podle zeměpisné délky a šířky

In [188]:
# Python 3 program to calculate Distance Between Two Points on Earth
from math import radians, cos, sin, asin, sqrt
def distance(x):
  # The math module contains a function named
  # radians which converts from degrees to radians.
  x['station_latitude_x1'] = radians(x['station_latitude_x'])
  x['station_longitude_x1'] = radians(x['station_longitude_x'])
  x['station_latitude_y1'] = radians(x['station_latitude_y'])
  x['station_longitude_y1']= radians(x['station_longitude_y'])
  # Haversine formula
  x['dlon'] = x['station_longitude_y1'] - x['station_longitude_x1']
  x['dlat'] = x['station_latitude_y1'] - x['station_latitude_x1']
  x['a'] = sin(x['dlat'] / 2)**2 + cos(x['station_latitude_x1']) * cos(x['station_latitude_y1']) * sin(x['dlon'] / 2)**2
  x['c'] = 2 * asin(sqrt(x['a']))  
  # Radius of earth in kilometers. Use 3956 for miles
  r = 6371     
  # calculate the result
  return(x['c'] * r)
# driver code
cross_product_station_list_df['station_distance_km']=round(cross_product_station_list_df.apply(distance, axis=1),3)
cross_product_station_list_df=cross_product_station_list_df.drop(cross_product_station_list_df[cross_product_station_list_df['station_distance_km']==0].index)
cross_product_station_list_df

      station_name_x  ...  station_distance_km
1      George Square  ...                0.939
2      George Square  ...                0.791
3      George Square  ...                0.996
4      George Square  ...                3.833
5      George Square  ...                3.837
...              ...  ...                  ...
39994   Picady Place  ...               13.724
39995   Picady Place  ...               14.329
39996   Picady Place  ...                1.491
39997   Picady Place  ...                7.572
39998   Picady Place  ...                8.075

[39798 rows x 7 columns]

Počet kol, která z jednotlivých stanic odjela

In [190]:
count_start_station=edinburgh_bikes_df[['start_station_id','start_station_name']].assign(cnt=1).groupby('start_station_id').sum().sort_values(['cnt'],ascending=True).reset_index()
count_start_station=count_start_station.rename(columns={'start_station_id':'station_id'}).set_index('station_id')
count_start_station

              cnt
station_id
1857            1
1740            1
241             2
1057            2
299             3
...           ...
1024        11373
1728        11843
259         12218
248         12846
265         17390

[198 rows x 1 columns]

Počet kol, která na jednotlivé stanice dojela.

In [171]:
count_end_station=edinburgh_bikes_df[['end_station_id','end_station_name']].assign(cnt=1).groupby('end_station_id').sum().sort_values(['cnt'],ascending=True).reset_index()
count_end_station=count_end_station.rename(columns={'end_station_id':'station_id'}).set_index('station_id')
count_end_station

              cnt
station_id
1740            2
242             2
241             3
280             3
1032            5
...           ...
1824        11264
262         11940
265         15225
250         15254
1728        16656

[199 rows x 1 columns]

20 stanic, kde kola nejvíce přebývají a počet přebývajících kol

In [174]:
bikes_acumulating_df=count_end_station-count_start_station
bikes_accumulating_df.sort_values(['cnt'],ascending=False).head(20).join(station_list_df['station_name']).rename(columns={'cnt':'more_bikes'})

      more_bikes                    station_name
1728      4813.0         Portobello - Kings Road
250       4592.0                   Victoria Quay
1824      3976.0                     Duke Street
358       3088.0                      Leith Walk
262       2389.0                      Canonmills
258       1993.0                     Stockbridge
285       1876.0                  Ocean Terminal
1722      1269.0               Cramond Foreshore
257       1241.0                      Portobello
1818      1130.0                   Dynamic Earth
366       1086.0  Newhaven Road / Dudley Gardens
1038       974.0              South Trinity Road
1763       933.0                Comely Bank Road
820        894.0                     Newkirkgate
1026       844.0             Constitution Street
1800       812.0                           Joppa
355        684.0                  Inverleith Row
1095       683.0                  Dudley Gardens
1757       681.0                      Meggetland
1720       603.0                   Dundas Street

20 stanic, kde kola nejvíce chybí a počet chybějících kol

In [175]:
bikes_missing_df=count_start_station-count_end_station
bikes_missing_df.sort_values(['cnt'],ascending=False).head(20).join(station_list_df['station_name']).rename(columns={'cnt':'bikes_missing'})

            bikes_missing        station_name
station_id
248                4948.0       Bristo Square
259                3846.0    St Andrew Square
247                3154.0    Charlotte Square
189                3113.0       City Chambers
264                2813.0       Pollock Halls
1767               2629.0   Bruntsfield Links
1024               2581.0      Meadow Place 2
260                2544.0     Lauriston Place
265                2165.0        Meadows East
289                1525.0       Castle Street
1039               1522.0        Lothian Road
256                1293.0    St Andrews House
1096               1180.0  West Crosscauseway
249                1149.0      Fountainbridge
296                1054.0      Castle Terrace
290                1049.0         Bruntsfield
1052                976.0       Surgeons Hall
1798                902.0     Chambers Street
1050                881.0                EICC
1098                806.0  Marchmont Crescent